@media(max-width:1242px){
    #language-buttons button{
        margin-bottom: 5px;
        width: 83.11px;
    }
}
@media (max-width:1190px) {

    .main {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr ;
        max-width: 1190px
    }
    
}

@media (max-width:992px) {
    .navbar-collapse{
        background-color: #282436e0;
        z-index: 100;
        border-radius: 10px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 300px;
        margin-top: 20px;
    }
    .header-bg {
        height: 376px;
    }
    .main {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr ;
        max-width: 1000px;
        margin-top: 45px;
    }
}
@media(max-width: 650px) {
    .footer-content {
        flex-direction: column;
    }
    .footer-content form {
        margin-bottom: 30px;
    }
    .section-item {
        max-width: 80%;
    }
    .section-item:nth-child(3) {
        margin-bottom: 30px;
    }
    .nav, nav ul {
        flex-direction: column;
        justify-content: left;
        text-align: left;
    }
    .nav img {
        margin-bottom: 15px;
    }
    .nav ul a {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
        padding: 10px 10px;
        transition: all 200ms;
        display: flex;
    }
    .container a {
        display: flex;
    }
    .main {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr  ;
        max-width: 1000px;
     
    }
    
}
@media (max-width:410px){
    .section-items {
        max-height: 690px;
        max-width: 600px;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: nowrap;
        margin-top: 100px;
        flex-direction: column;
    }
    .header-bg {
        height: 276px;
    }
    header {
        height: 365px !important;
    }
    .main{
        margin-top: 150px;
    }

    
}
@media (max-width:640px){
    .popup.show{
        width: 300px !important;
    }
    .show{
        width: 300px;
    }

}
@media screen and (min-width: 1500px) {
    .nav-list {
      position: initial;
      width: initial;
      height: initial;
      background-color: transparent;
      padding: 0;
      justify-content: initial;
      flex-direction: row;
      transform: initial;
      transition: initial;
      z-index: 300;
    }
    .nav-link {
      transition: all 0.1s;
    }
    .menu-toggle {
      display: none;
    }
  }
  @media  (max-width: 991px) {
    header{
        margin-bottom: 0px;
    }

  }

